<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index-style.css') }}">
    <title>Pau Para Toda Obra</title>
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <div class="container">
            <div class="site-name">
                <h1>Pau Para Toda Obra</h1>
            </div>
            <ul>
                <li><a href="/register" class="btn-primary">Registre-se</a></li>
                <li><a href="/login" class="btn-primary">Login</a></li>
            </ul>
        </div>
    </nav>

    <!-- Header Section -->
    <header>
        <div class="header-banner">
            <!-- You can add your site logo here -->
        </div>
    </header>
<section>
    <main>
        <div class="container">
            <div class="hero-section">
                <h1>Bem-Vindo ao Pau Para Toda Obra</h1><br>
                <p>Somos a sua plataforma de conexão com uma ampla variedade de profissionais e prestadores de serviços para atender às suas necessidades.</p>
                <p>Quer você precise de um encanador, eletricista, jardineiro ou qualquer outro tipo de serviço, estamos aqui para ajudar a encontrar o profissional certo para o trabalho.</p>
                <p>Pesquise por serviços específicos e encontre os profissionais disponíveis na sua região.</p>
                <p>Registre-se agora para aproveitar ao máximo os serviços oferecidos pelo Pau Para Toda Obra. Encontre os melhores profissionais, receba orçamentos e muito mais.</p>
                <a href="/register" class="btn-primary">Registre-se</a>
            </div>
        </div>
    </main>
</section>
</body>
</html>
